.container-1{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;    
}
.container-1-a,.container-1-b,.container-1-c,.container-1-d,
.container-1-e,.container-1-f{
    width:25%;
    padding:5px;
    background-color: white;
    margin:30px;
}
.center{
    padding:0px 120px;
}
.image{
    width:100%;
    height:200px;
}
.heading{
    color:#143642;
}
.para{
    text-align: justify;
}
.para > a{
    text-decoration: none;
    color:#143642;
}
.date-comment{
    display:flex;
    justify-content:space-between;
    vertical-align: text-top;
}
.date{
    width:30px;
    height:28px;
}
.comment{
    width:18px;
    height:18px;
}