
/* For desktop screen  */
.containerN-1{
    /* background-image: url("/Images/Nutrition/nutrition bg.webp"); */
    background-image: url('/public/Images/Nutrition/nutrition\ bg.webp');
    height:30vh;
    background-size:100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerN-1 >h2{
    color:white;
    font-size: 60px;
    line-height: 5rem;
}
.containerN-1 >p{
    color:white;
    font-size:25px;
    text-align: center;
    width: 45%;
}
.containerN-2{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.containerN-2-a,.containerN-2-b,.containerN-2-c,.containerN-2-d,.containerN-2-e,
.containerN-2-f,.containerN-2-g,.containerN-2-h,.containerN-2-i,.containerN-2-j{
    width:40%;
    margin:20px;
}
.a-link{
    text-decoration: none;
}
.inner-flex{
    display:flex;
}
.imageN{
    width:160px;
    height:130px;
    padding-top: 18px;
}
.padding{
   padding:12px;
}

/* For mobile screen  */
@media screen and (max-width:813px){
    .containerN-1{
        height:auto;
        padding: 0.5rem 0;
        margin-bottom: 1rem;
    }
    .containerN-1 >h2{
        font-size: 30px;
        line-height:1.5rem;
    }
    .containerN-1 >p{
        font-size:17px;
        width: 70%;
    }
    .containerN-2{
        flex-direction: column;
        gap: 1rem;
    }
    .containerN-2-a,.containerN-2-b,.containerN-2-c,.containerN-2-d,.containerN-2-e,
    .containerN-2-f,.containerN-2-g,.containerN-2-h,.containerN-2-i,.containerN-2-j{
        width:100%;
        padding:0px 10px;
        margin:0px;
        transition: 0.5s ease-in-out;
       
    }
    .containerN-2-a > a:hover{
        transform: translateY(-10px);
    }
    .imageN{
        width:30vw;
        height:auto;
        padding-top:0px;
    }
    .padding{
       padding:0px 10px;
    }
    .padding > h2{
        font-size: medium;
    }
    .padding >p {
        font-size: smaller;
    }
    
}
